img {
  width: 250px;
  height: 250px;
}
#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  flex-basis: 70%;
  overflow: hidden;
}

#product {
  border: 2px solid #3333;
  margin: 10px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#product:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#product h4 {
  margin: 4px auto;
}
#product p {
  margin: 4px auto;
}
#product button {
  margin: 10px 10px;
  width: 80%;
}
a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
